body {
    font-family:'Segoe UI','Regular';
    background-color: #E3E3E3;
    color: #000000;
    padding: 0px;
    font-size: 13px;
    overflow: auto;
}

.banner {
    background-color: #BF3235;
    color: #FFFFFF;
    padding: 3px 10px 10px 20px; /* top, right, bottom, left */
    font-size: 1.25em;
    overflow: auto; /* i.e. if too much text, add a scroll bar */
    min-height: 60px;   /* Specify min height but allow to expand. */
}

.blueBanner {
    background-color: #85B8E8;
    color: #000000;
}

.yellowBanner {
    background-color: #F8D470;
    color: #000000;
}

.content {
    padding: 20px 10px 10px 0px;
}

.reasonTextArea {
    width: 97%;
    margin: 10px 0px 0px 0px;
}

span {
    display: table-cell;
}

.logoSize {
    height: 65px;
    width: 65px;
    margin-right: 0.4em;
}

.logoAlign {
    vertical-align: top;
}

.bodyText {
    padding-left: 1.1em;
    width: 100%;
}

.buttonSection {
    text-align: right;
}

.onDemandLink {
    text-align: center;
    margin-top: 5px;
}

.button {    /* e.g. ok, close, allow, block buttons*/
    clear: both;    /* I.e. clear from the 'float' effect */
    min-width: 100px;
    height: 30px;
    text-align: center;
    border: none;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    background-color: #FFFFFF;
    margin: 20px 10px 10px 0px;
}

.choiceButton { /* e.g. radio or check boxes */
    margin: 10px 0px 0px 0px;
}

button:hover {
    background-color: lightgrey;
}

