body{
	font: 10pt Verdana,sans-serif;
	color: light-gray;
}
.heading{
	font: 14pt Verdana,sans-serif;
	color: navy;
	font-weight: bold;
}
.trigger{
	cursor: pointer;
	cursor: hand;
	display: block;
}
.request{
	display: none;
	margin-left: 16px;	
}
.title
{
	font: 16pt Verdana, sans-serif;
	margin-left: 16px;
	font-weight: normal;	
}

label{
	font: 10pt Verdana, sans-serif;
	color: #707070;	
}

a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

td{
	font: 10pt Verdana,sans-serif;
	color: #707070;
}
.smalltitle{
	font-weight: bold;
}
.title{
	font: 16pt Verdana, sans-serif;
	font-weight: bold;
	background: #fff url(titlefade.gif) repeat-y top right;
}
.panel
{
	background: navy;
}
.border-top-left {
	border-top : 1px solid #999999;
	border-left : 1px solid #999999;
}
.padded,
.small-padded,
.small-border,
.small-alt-border,
.normal-border {
	padding: 4px 4px 4px 4px;
}

.small-border,
.normal-border,
.border-bottom-right {
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
}

.small-border-bold 
{
	padding: 4px 4px 4px 4px;	
	font-weight: bold;	
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
}

.small-alt-border {
	border-left: 1px solid #999999;
	border-bottom : 1px solid #999999;
}

.small-border-trigger-one
{
	cursor: pointer;
	cursor: hand;
	display: block;
	color: #0000C4;
	background: #E0E0E0;
	text-decoration: underline;	
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
}

.small-border-trigger {
	cursor: pointer;
	cursor: hand;
	display: block;
	color: #0000C4;
	background: light-gray;
	text-decoration: underline;	
}

.border-complete {
	border : 1px solid #999999;
}

.border-top-left {
	border-top : 1px solid #999999;
	border-left : 1px solid #999999;
}

.border-right {
	border-right : 1px solid #999999;
}

.trigger-border-bottom 
{
	cursor: pointer;
	cursor: hand;
	display: block;
	color: #0000C4;
	background: light-gray;
	border-bottom : 1px solid #999999;
	text-decoration: underline;	
}